<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChicX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/html" href="{% static 'css/main.css' %}">

    <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)


    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store' %}">ChicX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store' %}">Store<span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
            <div class="mr-3 text-white">Welcome, {{ user.username }}</div>
            <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
            {% else %}
            <button class="btn btn-outline-warning ml-2" data-toggle="modal" data-target="#signupModal">Sign Up</button>
            <button class="btn btn-warning" data-toggle="modal" data-target="#loginModal">Login</button>

        </div>
    </div>
    {% endif %}


    <a href="{% url 'cart' %}">
        <img id="cart-icon" src="{% static 'images/cart.png' %}">
    </a>
    <p id="cart-total">{{cartItems}}</p>

    </div>
    </div>
</nav>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login_id_username">Username</label>
                        <input type="text" class="form-control" id="login_id_username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="login_id_password">Password</label>
                        <input type="password" class="form-control" id="login_id_password" name="password" required>
                    </div>
                    <input type="hidden" name="next" value="{% url 'store' %}">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Sign Up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="signup_id_username">Username</label>
                        <input type="text" class="form-control" id="signup_id_username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="signup_id_first_name">First Name</label>
                        <input type="text" class="form-control" id="signup_id_first_name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="signup_id_last_name">Last Name</label>
                        <input type="text" class="form-control" id="signup_id_last_name" name="last_name" required>
                    </div>
                    <div class="form-group">
                        <label for="signup_id_email">Email</label>
                        <input type="email" class="form-control" id="signup_id_email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="signup_id_password">Password</label>
                        <input type="password" class="form-control" id="signup_id_password" name="password1" required>
                    </div>
                    <div class="form-group">
                        <label for="signup_id_password2">Confirm Password</label>
                        <input type="password" class="form-control" id="signup_id_password2" name="password2" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br>
    {% block content %}
    {% endblock content %}
</div>

<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>


</body>
</html>

